<div class="wrapSearch">
  <div class="ui-g">
    <div class="ui-g-12"></div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12"></div>
  </div>

  <div class="formWrap"> 
    <div class="HeaderSearch">
      <h1>Search</h1>
 
      <div [formGroup]="employeeForm">

     
      <p-dropdown   (onChange)="emitItem($event)" formControlName="departmentCode"   class="inputItem" id="dropdown" [options]="selectDepartment">
      </p-dropdown>
      &nbsp; 
      <p-dropdown  (onChange)="emitItem($event)" formControlName="jobTitleCode"  class="inputItem" id="dropdown"  [options]="selectJob">
      </p-dropdown>

      <br />

      <div class="ui-g" style="width:250px;margin-bottom:10px">
        <div class="ui-g-12">
          Type :
          <p-radioButton formControlName="jobType" name="group1" value="M" label="Manage" inputId="opt1">
          </p-radioButton>
          &nbsp;
          <p-radioButton formControlName="jobType" name="group1" value="O" label="Operate" inputId="opt2">
          </p-radioButton>
        </div>

      </div>
      <hr>
      <br />


      <div class="ui-inputgroup">
        <button pButton type="button" class="ui-button-primary" icon="pi pi-user">
        </button>
        <input class="inputText" pTooltip="Enter firstname" tooltipPosition="top" formControlName="firstName" type="text" pInputText placeholder="FirstName">
      </div>

      <br />
      <div class="ui-inputgroup">
        <button pButton type="button" class="ui-button-primary" icon="pi pi-star">
        </button>
        <input class="inputText" pTooltip="Enter lastname" tooltipPosition="top" formControlName="lastName" type="text" pInputText placeholder="LastName">
      </div>
      <br />
      <div class="ui-g" style="width:250px;margin-bottom:10px">
        <div class="ui-g-12">
          Gender :
          <p-radioButton fornControlName="gender" name="group2" value="M" label="Male" inputId="opt1">
          </p-radioButton>
          &nbsp;
          <p-radioButton name="group2" formControlName="gender" value="F" label="Female" inputId="opt2">
          </p-radioButton>
        </div>

      </div>

      <button pButton type="button" id="searchBtn"(click) = "emitItem($event)" icon="pi pi-check" label="Search" class="ui-button-success"></button>
      &nbsp;
      <button pButton type="button" id="clearBtn"(click) = "clearText()" icon="pi pi-times" label="Clear" class="ui-button-danger"></button>

    </div>
    <br/>
    <hr/>
    <button pButton pTooltip="Show user" type="button" id="clearBtn" (click) = "showUser()" icon="pi pi-user" class="ui-button-primary"></button>
    &nbsp;
    <button pButton pTooltip="Logout" type="button" id="clearBtn" (click) = "showUser()" icon="pi pi-power-off" class="ui-button-danger"></button>
  </div>  
  </div>

</div>

<p-dialog [closeOnEscape]="true"  header="User" [(visible)]="displayUser"
  [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '600px', height: '200px'}" blockScroll="true"
  dismissableMask="true" [resizable]="true" appendTo="body">
    <b>รหัสประจำตัว</b> : {{userData.userId}} <br/>
    <b>ชื่อ สกุล :</b> {{userData.firstName + " "+ userData.lastName}} <br/>
    <b>เพศ :</b> {{userData.gender | genderPipe}}<br/>
    <b>เบอร์โทร :</b>  {{userData.tel}}<br/>
    <b>Email : </b> {{userData.email}}<br/>
  


  
    <br />


 
 


</p-dialog>